.body {
    margin: 0;
}

.container {
    font-family: 'Pretendard', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: #333;
    overflow: hidden;
    position: relative;
}

.backgroud {
    object-fit: cover;
    z-index: -1;
}

.header {
    box-sizing: border-box;
    padding-top: 70px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 1vh 0;
    font-weight: bold;
    order: 2;
    text-align: center;
}

.subTitle {
    margin: 0;
    font-weight: normal;
    order: 1;
    text-align: center;
}

.logo {
    margin: 10px 0;
    text-align: center;
    order: 3;
}

.logo img {
    margin: 20px 0;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.userGuide {
    background-color: #f2fcf3;
    border: 5px solid #afeeb7;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 52px;
    padding: 0;
    margin: 0;
    height: Calc(100% - 57px);
    width: 100%;
    z-index: 2;
}

.guideTitle {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.guideCaption {
    line-height: 1.6;
    position: relative;
    background-color: #f2fcf3;
    z-index: 3;
}

.farmer {
    position: absolute;
    left: -22px;
    bottom: 5px;
    z-index: 1;
}

.grass {
    position: absolute;
    right: -51px;
    bottom: -15px;
    pointer-events: none;
    z-index: 1;
}

.startButton {
    position: absolute;
    left: 50%;
    bottom: 70px;
    transform: translateX(-50%);
    background-color: #63F271;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px 100px;
    font-size: 1em;
    opacity: 0.8;
}

.startButton:hover {
    background-color: #63F271;
    opacity: 1;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1200px) {
    .subTitle {
        font-size: 1.2em;
    }

    .mainTitle {
        font-size: 1.8em;
    }

    .guideTitle {
        font-size: 1.2em;
    }

    .guideCaption {
        margin: 30px auto;
        max-width: calc(100% - 480px);
        /* 좌우 각각 240px 여백 */
        width: 100%;
    }
}

/* Medium screen styles */
@media (min-width: 768px) and (max-width: 1199px) {
    .subTitle {
        font-size: 1.1em;
    }

    .mainTitle {
        font-size: 1.6em;
    }

    .guideTitle {
        font-size: 1.2em;
    }

    .guideCaption {
        margin: 30px auto;
        max-width: calc(100% - 240px);
        /* 좌우 각각 120px 여백 */
        width: 100%;
    }
}

/* Tall screen styles */
@media (max-width: 767px) {
    .subTitle {
        font-size: 1.6em;
    }

    .title {
        font-size: 2.2em;
    }

    .guideTitle {
        font-size: 1.4em;
    }

    .guideCaption {
        margin: 30px 30px 0 30px;
    }

    .startButton {
        opacity: 1;
        z-index: 999;
    }

    .grass,
    .farmer {
        display: none;
    }
}

@media (max-height: 700px) {
    .header {
        padding-top: 30px;
    }
}