.body {
    margin: 0;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    color: #333;
    overflow: hidden;
}

.article {
    font-family: 'Pretendard', sans-serif;
    height: 100vh;
    max-width: 700px;
    position: relative;
    overflow: visible;
    background: rgb(255 255 255 / 70%);
    border: 5px solid #68f074;
    border-top-width: 0;
    border-bottom-width: 0;
}

.backgroud {
    object-fit: cover;
    z-index: -1;
}

.header {
    box-sizing: border-box;
    padding-top: 124px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 1vh 0;
    font-weight: bold;
    order: 2;
    text-align: center;
    font-size: 1.7em;
}

.subTitle {
    margin: 0;
    font-weight: normal;
    order: 1;
    text-align: center;
    font-size: 2.2em;
}

.logo {
    margin: 10px 0;
    text-align: center;
    order: 3;
}

.logo img {
    margin: 20px 0;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.userGuide {
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 52px;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guideCaption {
    line-height: 1.6;
    position: relative;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: -1px;
    z-index: 3;
    margin: 50px 0 125px;
    max-width: calc(100% - 190px);
}

.farmer {
    position: absolute;
    left: -80px;
    bottom: -20px;
    z-index: 4;
    height: auto;
}

.grass {
    position: absolute;
    right: -295px;
    bottom: -80px;
    pointer-events: none;
    z-index: 1;
}

.startButton {
    background-color: #63f271;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px 100px;
    font-size: 1em;
    opacity: 0.8;
    text-decoration: unset;
}

.startButton:hover {
    background-color: #63F271;
    opacity: 1;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1200px) {
    .mainTitle {
        font-size: 1.8em;
    }

    .guideCaption {
        /* 좌우 각각 240px 여백 */
        width: 100%;
    }
}

/* Medium screen styles */
@media (min-width: 768px) and (max-width: 1199px) {
    .mainTitle {
        font-size: 1.6em;
    }

    .guideCaption {
        max-width: calc(100% - 240px);
        /* 좌우 각각 120px 여백 */
        width: 100%;
    }
}

@media (max-width: 700px) {
    .farmer {
        left: calc(-80px - (700px - 100%) * 1);
    }

    .grass {
        right: calc(-295px - (700px - 100%) * 1);
    }

    .article {
        border: none;
    }
}

@media (max-width: 600px) {
    .guideCaption {
        display: none;
    }
}

@media (max-height: 600px) {
    .guideCaption {
        display: none;
    }
}

@media (max-height: 700px) {
    .header {
        padding-top: 30px;
    }
}