.chat-wrapper {
    overflow-y: auto;
}

.form {
    position: relative;
}

.textbox {
    width: 100%;
    border: 2px solid #a3caeb;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 15px;
    resize: none;
}

.textbox:focus {
    outline: none;
}

.form>button {
    position: absolute;
    bottom: 16px;
    right: 10px;
    width: 18px;
    height: 20px;
    background: transparent;
    background-image: url("/arrow.png");
    background-size: 18px 20px;
    border: none;
    cursor: pointer;
}

.form>button:disabled {
    opacity: 50%;
}