.chatArea {
    flex-grow: 1;
    overflow-y: auto;
}

.form {
    position: relative;
}

.textbox {
    width: 100%;
    border: 2px solid #a3caeb;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 15px;
    resize: none;
}

.textbox:focus {
    outline: none;
}

.form>button {
    position: absolute;
    bottom: 16px;
    right: 10px;
    width: 18px;
    height: 20px;
    background: transparent;
    background-image: url("/arrow.png");
    background-size: 18px 20px;
    border: none;
    cursor: pointer;
}

.form>button:disabled {
    opacity: 50%;
}

.suggestions {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;
    gap: 1rem;
    box-sizing: border-box;
    padding-bottom: 5px;
}

.suggestionButton {
    width: Calc(100% - 5px);
    text-align: left;
    background-color: #f3f4f6;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px #c2c2c2;
}